$white: #ffffff;
$skyblue: #38aef0;
$darkgray: #333333;
$lightgray: #999999;


* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side_bar {
  height: 100vh;
  width: 300px;
  color: $white;
  &__user {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  &__group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
  }
}

.side_title {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  &--right {
    width: 60px;
    text-align: right;
    &__logo {
      text-decoration: none;
      color: hsl(0, 0%, 100%);
      margin-left: 5px;
    }
  }
}

.side_body {
  padding: 20px 0 40px 0;
  &__title {
    color: $white;
    font-size: 15px;
    padding-bottom: 5px;
  }
  &__message {
    color: $white;
    font-size: 11px;
  }
}

.decoration {
  text-decoration: none;
}

.main_chat {
  height: 100vh;
  width: calc(100vw - 300px);
  &__group {
    height: 100px;
    width: calc(100vw - 300px);
    background-color: #ffffff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }
  &__list {
    width: calc(100vw - 300px);
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 0 0 40px;
    overflow: scroll;
  }
  &__form {
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--left {
      background-color: #ffffff;
      height: 50px;
      flex: 1;
      display: flex;
      align-items: center;
    }
    &--right {
      color: #ffffff;
      display: inline-block;
      background: $skyblue;
      padding: 0 30px;
      line-height: 50px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}

.group--left {
  padding-top: 35px;
  &__title {
    font-size: 20px;
    color: $darkgray;
    padding-bottom: 15px;
  }
  &__member {
    font-size: 12px;
    color: $lightgray;
    li {
      display: inline;
    }
  }
}

.group--right {
  padding-top: 28px;
  &__btn {
    width: 72px;
    height: 40px;
    line-height: 40px;
    color: $skyblue;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0 20px;
  }
}

.list__member {
  display: flex;
  &--left {
    color: $darkgray;
    font-weight: bold;
    padding-bottom: 12px;
  }
  &--right {
    color: $lightgray;
    font-size: 12px;
    margin-left: 10px;
  }
}

.list__text {
  padding-bottom: 46px;
  font-size: 14px;
  color: #434a54;
}

.form_content {
  &--left {
    flex: 1;
    position: relative;
    &__message {
      width: 100%;
      height: 50px;
      border: none;
      display: inline-block;
      padding: 0 10px;
    }
  }
  &--right {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.hide {
  display: none;
}




